<!-- Graph sidebar -->
<div id="sidebar">

  <!-- Breadcrumbs -->
  <div id="breadcrumbs-wrapper" class="breadcrumbs-detail">
    <div id="breadcrumbs-text">
      <% @idarray.each do |i| %>
        <% if i == params[:search] %>
          <a class ="breadcrumbs active" id="<%= @idarray[0] %>"><%= @idarray[0] %></a>
        <% else %>
          <p class="breadcrumb-arrow">/</p><a class="breadcrumbs" id="<%= i %>"><%= i %></a>
        <% end %>
      <% end %>
      </div>
  </div>

  <div class="sidebar-wrapper" style="text-align:center">

    <!-- Hidden stoplist div -->
    <% if params[:stoplistvar].nil? %>
      <div id="stoplist-string"></div>
    <% else %>
      <div id="stoplist-string"><%= params[:stoplistvar] %></div>
    <% end %>

    <!-- Hidden snapshot div -->
    <% if params[:snapshot].nil? %>
      <div id="snapshot-string"></div>
    <% else %>
      <div id="snapshot-string"><%= params[:snapshot] %></div>
    <% end %>

    <!-- Dropdown -->
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle btn btn-small" role="button" data-toggle="dropdown" data-keyboard="true" data-keyboard="true" href="#">More <b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#excludeModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">Exclude words</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#pastSearchModal" data-toggle="modal" data-backdrop="true" data-keyboard="true">View past searches</a></li>
          <li role="presentation"><%= link_to 'Export tweets', {:controller => 'export', :action => 'exporttweets', :format => :csv, :stoplist => params[:stoplistvar], :searchterm => params[:search], :snapshot => params[:snapshot]} %></li>
        </ul>
      </li>
    </ul>
    <!-- End dropdown -->

    <!-- Stoplist modal -->
    <div id="stoplist-modal">
      <div id="excludeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="myModalLabel">Exclude these words from your graph</h3>
          <h3 style="font-size: 14px">Add as many words as you want, separated by commas.</h3>
        </div>
        <div class="modal-body">
          <% if @stoplistarray.empty? %>
            <textarea rows="3" id="stoplist-text"></textarea>
          <% else %>
            <textarea rows="3" id="stoplist-text"><%= @stoplistarray %></textarea>
          <% end %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
          <button type="submit" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" id="stoplist-submit">Save changes</button>
        </div>
      </div>
    </div>
    <!-- End stoplist modal-->

    <!-- Past searches modal -->
    <div id="past-search-modal">
      <div id="pastSearchModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="pastSearchLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="pastSearchLabel">Search History</h3>
          <h3 style="font-size: 14px">Click to view past results for "<%= params[:search] %>"</h3>
        </div>
        <div class="modal-body">
          <% if @pastsearches.empty? %>
            <p>There have been no past searches for this query.</p>
          <% else %>
              <a class="inserted-at" id="alltweets">View all results</a><br><br>
            <% @pastsearches.reverse.each do |search| %>
              <a class="inserted-at" id="<%= search.inserted_at %>"><%= search.inserted_at.strftime("%B %d, %Y") %></a><br>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
      </div>
    </div>
    <!-- End past searches modal-->

    <% if @searchtime.nil? %>
      <div class="sidebar-headers">Common Words in Tweets<br></div>
    <% else %>
      <div class="sidebar-headers">Common Words in Tweets from <%= @searchtime.strftime("%B %d, %Y") %><br></div>
    <% end %>
    <div id="id-string"><%= @oldid %></div>
    <script type="text/javascript">
      jQuery(document).ready(function(){
        var alertText = '<%= @catchempty %>';
        if(alertText.length > 0){
          alert(alertText);
        }
      });
    </script>
    <div id="graph"><%= @chart %></div>
  </div>
</div>

<!-- Tweets sidebar -->
<div id="content-wrap">
  <div class="sidebar-headers tweets">What People Are Saying</div>
  <div id="tweet-wrap">
    <p class="tweetcount">Found <%= @searchedtweetscopy.count %> tweets</p>
    <% @searchedtweetscopy.reverse.each do |tweet| %>
      <div class="<%=cycle('odd', '')%> single-tweet">
        <img src="<%= tweet.avatar %>" class="avatar"></img>
        <span class="tweet-name"><%= tweet.name %></span>
        <%= link_to "@" + tweet.username, "http://twitter.com/#{tweet.username}", :class => "username", :target => "_blank" %>
        <div class="tweet-created-at"><%= time_ago_in_words tweet.created_at %> ago</div>
        <div class="tweet-text-area">
          <div class="tweet-text"><%= tweet.text %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>