<body>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">twXplorer</a>
    </div>
  </div>
</div>

<center>
	<div class="header-wrapper">
	<div class="twxplorer-header">tw<div class="twxplorer-x twxplorer-header">x</div>plorer</div> <img class="logo" src="/images/twxplorer-logo.png">
	</div>
</center>

<center>
<%= form_tag '/searchedtweets/index', :method => :get do %>
  <p>
    <div class="search-button">
      <%= text_field_tag :search, params[:search], :class => 'search-input' %>
      <%= submit_tag "Search for Tweets", :name => nil, :class =>'btn btn-primary btn-large' %>
      </div>
  </p>
<% end %>
</center>


<div id = "main-wrap">
  <div id="sidebar">
	<div class="sidebar-wrapper" style="text-align:center">
		
		<div class="sidebar-headers">Common Words in Tweets Containing "<%= params[:search] %>" </div>
		<%= @chart %>
		<div id="graph"></div>
		
		<!-- <div class="sidebar-headers">Common Words</div>
		
    <% @sortedhash.first(15).each do |key, value| %>
      <p style="margin-bottom: -10px"><strong><%= "#{key}:" %></strong>
      <%= "#{value}" %></p>
      <br>
    <% end %> -->
		</div>
  </div>

  <div id="content-wrap">
	<div class="sidebar-headers">What People Are Saying</div>
  
	<div id="tweet-wrap">
  <% @searchedtweets.reverse.each do |tweet| %>
   <li class="<%=cycle('odd', '')%>">
     <%= link_to tweet.username, "http://twitter.com/#{tweet.username}", :class => "username", :target => "_blank" %>
     <div style="font-family:Helvetica" class="tweet_text_area">
       <div class="tweet_text">
         <%= tweet.text %>
       </div>
       <div style="margin-bottom: 15px" class="tweet_created_at">
         <%= time_ago_in_words tweet.created_at %> ago
       </div>
     </div>
   </li>
  <% end %>
</div>

</div>
</div>

</body>
