<!-- Search Detail Page -->

<body>
  <script src="http://code.highcharts.com/stock/highstock.js" type="text/javascript"></script>

    <!-- Header buttons -->
    <div id="header-btn-container">
      <%= link_to "Our team", '/tweets/ourteam', :class => "btn btn-primary btn-large header-btn"%>
      <%= link_to "Home", '/tweets/home', :class => "btn btn-primary btn-large header-btn"%>
    </div>

    <!-- Search bar -->
    <div id="search-bar-wrapper">
      <a class="headertitle" href="/tweets/home"><div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div></a>
      <div class="test" style="display: inline">
      <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
        <p>
            <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail', :placeholder => 'search for tweets' %>
            <%= submit_tag "", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large search-btn-detail' %>
        </p>
      <% end %>
      </div>
    </div>

    <!-- Graph and tweets sidebar -->
    <div id = "main-wrap">
      <%= render :partial => 'makedata' %>
    </div>
</body>
