<%= form_tag '/searchedtweets/index', :method => :get do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<h1>TweetSuite Alpha</h1>
<div id="container">
<ul>
<% @searchedtweets.each do |tweet| %>
  <li class="<%=cycle('odd', '')%>">
    <%= link_to tweet.username, "http://twitter.com/#{tweet.username}", :class => "username", :target => "_blank" %>
    <div class="tweet_text_area">
      <div class="tweet_text">
        <%= tweet.text %>
      </div>
      <div class="tweet_created_at">
        <%= time_ago_in_words tweet.created_at %> ago
      </div>
    </div>
  </li>
<% end %>
</ul>
</div>
