<!--Home Page  -->
<body>

    <!-- Header buttons -->
    <div id="header-btn-container">
      <%= link_to "Our team", '/tweets/ourteam', :class => "btn btn-primary btn-large header-btn"%>
      <%= link_to "Home", '/tweets/home', :class => "btn btn-primary btn-large header-btn"%>
    </div>

    <!-- Search bar -->
    <div id="search-bar-wrapper">
      <div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div>
      <div class="test" style="display: inline">
      <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
        <p>
            <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail' %>
            <%= submit_tag "", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large search-btn-detail' %>
        </p>
      <% end %>
      </div>
    </div>
    
    <div id="breadcrumbs-wrapper" style="height: 20px">
    </div>

    <!-- Graph and tweets sidebar -->
    <div id="main-wrap">
      <p class="what-to-search">What would you like to search for today?</p>
      <div id = "circlecontainer">
        <img class="circleslides" src="/images/circle1.png">
        <img class="circleslides" src="/images/circle2.png">
        <img class="circleslides" src="/images/circle3.png">
      </div>
    </div>
</body>
