<!-- Our Team Page  -->
<div id="wrap">
<body>

    <!-- Header buttons -->
    <div id="header-btn-container">
      <%= link_to "Our team", '/tweets/ourteam', :class => "btn btn-primary btn-large header-btn"%>
      <%= link_to "Home", '/tweets/home', :class => "btn btn-primary btn-large header-btn"%>
    </div>

    <!-- Search bar -->
    <div id="search-bar-wrapper">
      <a class="headertitle" href="/tweets/home"><div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div></a>
      <div class="test" style="display: inline">
      <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
        <p>
            <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail', :placeholder => 'search for tweets' %>
            <%= submit_tag "", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large search-btn-detail' %>
        </p>
      <% end %>
      </div>
    </div>
    
    <div id="breadcrumbs-wrapper" style="height: 20px">
    </div>

      <p class="ourteam">the twXplorer team</p>
      <div id="main-wrap" class = "filler-body2">
      <div class="ourteam">

        <div class="ourteam-container">
          <img class="ourteam-pics" src="/images/allen.png"/>
          <div class="ourteam-desc"><p class="ourteam-name">Allen Zeng | Developer</p>
            <p>Allen is a rising senior majoring in Computer Science at Northwestern University and will be spending his summer with PwC in their Tech Advisory practice. He is from New York City and enjoys all aspects of urban life. He also enjoys swimming, biking, and traveling in his spare time.</p>
            <p style="font-size: 15px">Contact him: <a href="mailto:allenz456@gmail.com" target="_blank"> <img class="mail" src="/images/mail.png"></a><a href="http://www.linkedin.com/pub/allen-zeng/36/239/289" target="_blank"><a href="http://www.linkedin.com/pub/allen-zeng/36/239/289" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a><a href="http://www.github.com/allenz456" target="_blank"> <img class="github" src="/images/github.png"></a></p>
          </div>
        </div>

        <div class="ourteam-container second">
          <img class="ourteam-pics" src="/images/jeanette.png"/>
          <div class="ourteam-desc"><p class="ourteam-name">Jeanette Huang | Developer</p>
            <p>Jeanette is a graduating senior with degrees in Computer Science and Economics from Northwestern University and will be starting as a Program Manager for Microsoft in the fall. She likes designing, eating, and <a href="http://www.grumpycats.com/">grumpy cats</a>.</p>
            <p style="font-size: 15px">Contact her: <a href="mailto:jeanette.y.huang@gmail.com" target="_blank"> <img class="mail" src="/images/mail.png"></a><a href="http://www.linkedin.com/in/jeanettehuang" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a><a href="http://www.github.com/jeanettehuang" target="_blank"> <img class="github" src="/images/github.png"></a></p>
            </div>
        </div>

        <div class="ourteam-container third">
          <img class="ourteam-pics" src="/images/miguel.png"/>
          <div class="ourteam-desc"><p class="ourteam-name">Miguel Huerta | Journalist</p>
            <p>Miguel is a graduating Medill MSJ in Media Strategy and Leadership. He worked for many years as a TV News Executive Producer in Chile. Now, he is plans to return to his home country to get back his old job. He loves running every day.</p>
            <p style="font-size: 15px">Contact him: <a href="mailto:miguelhuerta2013@u.northwestern.edu" target="_blank"> <img class="mail" src="/images/mail.png"></a><a href="http://www.linkedin.com/pub/miguel-huerta/a/ba3/787" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a></p>
            </div><br>
        </div>

      </div>
    </div>

</body>
</div>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <p class="muted credit">Built by Allen Zeng, Jeanette Huang, and Miguel Huerta <br> Innovation in Technology and Journalism · Spring 2013 · Northwestern University</p>
  </div>
</div>

<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41933872-1', 'herokuapp.com');
  ga('send', 'pageview');

</script>
