<!-- Our Team Page  -->
<div id="wrap">
<body>

    <!-- Header buttons -->
    <div id="header-btn-container">
      <%= link_to "Our team", '/tweets/ourteam', :class => "btn btn-primary btn-large header-btn"%>
      <%= link_to "Home", '/tweets/home', :class => "btn btn-primary btn-large header-btn"%>
    </div>

    <!-- Search bar -->
    <div id="search-bar-wrapper">
      <a class="headertitle" href="/tweets/home"><div class="twxplorer-header twxplorer-detail header-normal">tw<div class="twxplorer-x-detail twxplorer-header">x</div>plorer</div></a>
      <div class="test" style="display: inline">
      <%= form_tag '/searchedtweets/index', :id => 'submit-search-form', :onsubmit => 'return validate(this)', :method => :get do %>
        <p>
            <%= text_field_tag :search, params[:search], :class => 'search-input search-input-detail', :placeholder => 'search for tweets' %>
            <%= submit_tag "", :name => nil, :id => 'submit-button', :class =>'btn btn-primary btn-large search-btn-detail' %>
        </p>
      <% end %>
      </div>
    </div>
    
    <div id="breadcrumbs-wrapper" style="height: 20px">
    </div>

    <!-- Graph and tweets sidebar -->
      <p class="ourteam">the twXplorer team</p>
      <div class="ourteam">

        <div class="ourteam-container">
          <img class="ourteam-pics" src="/images/allen.png"/><div class="ourteam-desc"><p class="ourteam-name">Allen Zeng</p>
            <p style="font-size: 15px">Developer</p>
            <p>Allen's bio is coming soon!</p>
            <br>
            <p style="font-size: 15px">Contact him: <a href="http://www.linkedin.com/pub/allen-zeng/36/239/289" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a><a href="http://www.github.com/allenz456" target="_blank"> <img class="github" src="/images/github.png"></a></p>
            </div><br>
        </div>

        <div class="ourteam-container second">
          <img class="ourteam-pics" src="/images/jeanette.png"/><div class="ourteam-desc"><p class="ourteam-name">Jeanette Huang</p>
            <p style="font-size: 15px">Developer</p>
            <p>Jeanette's bio is coming soon!</p><br>
            <p style="font-size: 15px">Contact her: <a href="http://www.linkedin.com/in/jeanettehuang" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a><a href="http://www.github.com/jeanettehuang" target="_blank"> <img class="github" src="/images/github.png"></a></p>
            </div><br>
        </div>

        <div class="ourteam-container third">
          <img class="ourteam-pics" src="/images/miguel.png"/><div class="ourteam-desc"><p class="ourteam-name">Miguel Huerta</p>
            <p style="font-size: 15px">Journalist</p>
            <p>Miguel's bio is coming soon!</p>
            <br>
            <p style="font-size: 15px">Contact him: <a href="http://www.linkedin.com/pub/miguel-huerta/a/ba3/787" target="_blank"><img class="linkedin" src="/images/linkedin.png"></a></p>
            </div><br>
        </div>

      </div>

</body>
</div>

<!-- Footer -->
<div id="footer">
  <div class="container">
    <p class="muted credit">Built by Allen Zeng, Jeanette Huang, and Miguel Huerta <br> Innovation in Technology and Journalism · Spring 2013 · Northwestern University</p>
  </div>
</div>
